@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lora:wght@500&display=swap');

.app {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Lora', serif;
    text-align: center;
}

button {
    cursor: pointer;
    border-radius: 2em;
    padding: .75rem 1.5rem;
    border: none;

    &.seed {
        background-color: #ffe01b;
        color: #241c15;
        border: 1px solid #241c15;
    }

    &.delete {
        background-color: #241c15;
        color: #fff;
    }
}

.app-header {
    background-color: #f6f6f4;
    padding: 3rem 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    & .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
}

.comments-container {
    padding: 1rem 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-card {
    background-color: #fff;
    border: 2px solid #f6f6f4;
    margin: 1rem;
    padding: 1.5rem 3rem;
    border-radius: 1em;

    & .message {
        font-family: 'Lora', serif;
    }

    & .name {
        color: #575757;
    }
}
